.box {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box:hover {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: rgb(61, 61, 61);
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
