body {
  overflow-x: hidden;
}

.content {
  padding-left: 210px;
  width: 85%;
}

.fullWidth {
  width: 100%;
}

.fitWidth {
  width: fit-content;
}

body .content {
  padding-left: 120px;
}

p {
  font-size: 1.3rem;
}

#title {
  font-size: 30px;
  padding-top: 3px;
}

.gridcontent {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  width: 100%;
  gap: 40px;
  text-align: center;
}

.gridcontent2 {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 40px;
  text-align: center;
  font-size: medium;
  position: relative;
  bottom: 40px;
}

.dinfoBox {
  width: 150px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.half {
  margin-right: 2rem;
  padding-right: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.grid2row {
  background: rgb(255, 255, 255);
  padding: 0 5rem 3rem 5rem;
}

.griditem {
  padding: 1rem;
}

.SecondRaw {
  display: flex;
  width: 100%;
}
.row1, .row2, .row3, .row5{
  margin-left: 100px;
  margin-right : 100px;
}
.styles.left{
  margin-left : 100px
}

.row1,
.row2 {
  width: 100%;
  grid-column: 1 / -1;
}

.row3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.row5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.hcontainer {
  display: flex;
  width: 100%;
}

.hcenter {
  align-items: stretch;
  display: flex;
  margin-right: 2rem;
  padding-right: 2rem;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.hcenterdanger {
  margin-left: 20px;
}

.graphContainer {
  width: 100%;
}

.genderbar {
  width: 80%;
}
