body {
  overflow-x: hidden;
  overflow-y: auto; /* 수직 스크롤 활성화 */
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

header {
  padding-right: 220px; /* 오른쪽 패딩 220px 추가 */
}

.content {
  padding-left: 300px; /* 왼쪽 패딩 300px */
  padding-right: 200px; /* 오른쪽 패딩 200px */
  width: calc(100% - 500px); /* 좌우 패딩 제외한 너비 */
  margin: 0 auto; /* 가운데 정렬 */
}

.fullWidth {
  width: 100%;
}

.fitWidth {
  width: fit-content;
}

p {
  font-size: 1.3rem;
}

#title {
  font-size: 30px;
  padding-top: 3px;
}

.gridcontent {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  width: 100%;
  gap: 40px;
  text-align: center;
}

.gridcontent2 {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 40px;
  text-align: center;
  font-size: medium;
  position: relative;
  bottom: 40px;
}

.dinfoBox {
  width: 150px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.half {
  margin-right: 2rem;
  padding-right: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.grid2row {
  background: rgb(255, 255, 255);
  padding: 0 5rem 3rem 5rem;
}

.griditem {
  padding: 1rem;
}

.SecondRaw {
  display: flex;
  width: 100%;
}

.row1,
.row2,
.row3,
.row5 {
  width: 100%;
}

.row3 {
  width: 100%;
}

.row5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.hcontainer {
  display: flex;
  width: 100%;
}

.hcenter {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-left: 8px;
}

.hcenterdanger {
  margin-left: 20px;
}

.graphContainer {
  width: 100%;
}

.genderbar {
  width: 80%;
}
