.date-picker {
  position: relative;
  margin-right: 850px;
  width: 80px;
}

.datepick {
  width: 100%;
  padding: 8px;
  font-size: 12px;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}

.calendar {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  font-weight: bold;
  text-align: center;
  padding: 8px;
  font-size: 12px; /* 글꼴 크기 변경 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button,
.close-button {
  background: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  padding: 8px;
  text-align: center;
  cursor: pointer;
  font-size: 12px; /* 글꼴 크기 변경 */
}

.day:hover {
  background-color: #f0f0f0;
}
