body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

header {
  padding-right: 220px; /* 오른쪽 패딩 240px 추가 */
}

.content {
  padding-left: 300px; /* 왼쪽 마진 240px */
  padding-right:200px; /* 오른쪽 마진 120px */
  width: calc(100% - 500px); /* 좌우 마진 300px + 220px 제외한 너비 */
  margin: 0 auto; /* 가운데 정렬 */
}

.fullWidth {
  width: 100%;
}

.fitWidth {
  width: fit-content;
}

p {
  font-size: 1.3rem;
}

#title {
  font-size: 30px;
  padding-top: 3px;
}

.gridcontent {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  width: 100%;
  gap: 40px;
  text-align: center;
}
.griditem {
  padding: 1rem;
  margin-top: -60px; /* 이 줄을 추가하면 위로 50px 올라감 */
}
.dinfoBox {
  width: 150px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.half {
  margin-right: 2rem;
  padding-right: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.grid2row {
  background: rgb(255, 255, 255);
  padding: 0 5rem 3rem 5rem;
}

.griditem {
  padding: 1rem;
}

.SecondRaw {
  margin-top : -16px;
  display: flex;
  width: 100%;
}
