body .content {
  padding-left: 120px;
 
}

#title{
  padding-left: 90px;
  font-size: 30px;
  padding-top: 3px;
  
}

.gridcontent{
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 20px;
  text-align: center;
  
}

.gridcontent2{
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 20px;
  text-align: center;
  font-size: medium;
  position: relative;
  bottom: 40px;
}

.dinfoBox{
  width: 150px;
  height: 160px;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.SecondRaw{
  display: grid;
  grid-template-columns: 40% 60%
}

.WeekOrNowCol{
  margin-top: 50px;
}







